*
{
    margin: 0;
    padding: 0;
    
}


#nav-bar mr-auto
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img
{
    height: 60px;
    padding-left: 30px;
    width: 100px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
    color: #000;
}

#nav-bar ul li a:hover
{
    color: #3498db;
}

.navbar
{
    background: #fff;
}

.navbar-toggler
{
    border: none;
}

.nav-link
{
    color: black;
    font-weight: 600;
    font-size: 17px;
    
}

#slider
{
    width: 100%;
    height: 50%;
}




#bottom
{
    padding: 60px;
}

#bottom .btn
{
    border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
    
}


#bottom .btn:hover
{
    color: white;
    background: #3498db;
    text-decoration-line: none;
}

.middle{
    max-width: 90%;
    margin: 50px auto;
    position: relative;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
    padding: 30px;
    
}
.middle .title{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
    font-size: 1.5em;
    line-height: 48px;
    padding-bottom: 20px;
    color: blue;
    background: linear-gradient(to right, red 10%, blue 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.middle .para{
    font-size: 1.3em;
}
.achive{
    max-width: 100%;
    position: relative;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.1);
    padding: 30px;
    
}

.achive_title{
    text-align: center;
}

.achive .achive_head3{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
    font-size: 1.5em;
    line-height: 48px;
    padding-bottom: 20px;
    color: blue;
    background: linear-gradient(to right, yellow 25%, red 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.achive .achive_head1{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: blue;
    background: linear-gradient(to right, red 25%, orange 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.achive  .button{
    display: inline-block;
    background-image: linear-gradient(125deg, blue, gray);
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    padding: 8px 16px;
    margin-top: 5px;
    margin-left: 25%;
    margin-right: 25%;
    border: none;
    width: 200px;
    cursor: pointer;
    align-items: center;
}
.icon{
    position: relative;
}
#nav-bar mr-auto
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img
{
    height: 60px;
    padding-left: 30px;
    width: 100px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
    color: #000;
}

#nav-bar ul li a:hover
{
    color: #3498db;
}

.navbar
{
    background: #fff;
}

.navbar-toggler
{
    border: none;
}

.nav-link
{
    color: black;
    font-weight: 600;
    font-size: 17px;
    
}



